In [15]:
def get_df_all(df):
    df = df.rename(columns={'Unnamed: 0':'Année'})
    df = df.set_index('Année')

    col_rendements = []
    col_surfaces = []
    col_prod = []

    for col in df.columns :
        if '1' in col: #rendements
            col_rendements.append(col)
        elif '2' in col: #production
            col_prod.append(col)
        else: #surfaces
            col_surfaces.append(col)
            
    df_rendements = df[col_rendements].drop(['Année',2022],axis=0)
    df_prod = df[col_prod].drop(['Année',2022],axis=0)
    df_surfaces = df[col_surfaces].drop(['Année',2022],axis=0)     
    
    dept_codes = [1,2,3,4,5,6,7,8,9,10,
              11,12,13,14,15,16,17,
              18,19,
              21,22,23,24,25,26,27,28,29,
              20,
              30,31,32,33,34,35,36,
              37,38,39,40,41,42,43,
              44,45,46,47,48,49,50,
              51,52,53,54,55,56,57,
              58,59,60,61,62,63,64,
              65,66,67,68,69,70,71,
              72,73,74,75,76,77,78,
              79,80,81,82,83,84,85,
              86,87,88,89,90,91,92,
              93,94,95,96,0]
    
    col_names_rend = df_rendements.columns
    col_names_surf = df_surfaces.columns
    col_names_prod = df_prod.columns
    
    dict_rename_rend = {}
    dict_rename_surf = {}
    dict_rename_prod = {}
    
    i = 0
    for col in col_names_rend:
        dict_rename_rend[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_surf:
        dict_rename_surf[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_prod:
        dict_rename_prod[col]=dept_codes[i]
        i = i+1
        
    df_rendements = df_rendements.rename(columns=dict_rename_rend)
    df_rendements = df_rendements.rename(columns={96:'FRANCE'})
    
    df_prod = df_prod.rename(columns=dict_rename_prod)
    df_prod = df_prod.rename(columns={96:'FRANCE'})
    
    df_surfaces = df_surfaces.rename(columns=dict_rename_surf)
    df_surfaces = df_surfaces.rename(columns={96:'FRANCE'})
    
    return df_rendements, df_surfaces, df_prod


def baseline_prec_year():
    df_baseline_prod = df_prod.shift(1)
    df_baseline_rend = df_rendements.shift(1)
    df_baseline_surf = df_surfaces.shift(1)
    
    df_baseline_prod = df_baseline_prod.dropna()
    df_baseline_rend = df_baseline_rend.dropna()
    df_baseline_surf = df_baseline_surf.dropna()
    
    return df_baseline_prod, df_baseline_rend, df_baseline_surf

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
url = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Histo_data_YieldsAreasProd.xlsx'
df = pd.read_excel(url, sheet_name='Blé tendre')

In [4]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, max_error

url = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Histo_data_YieldsAreasProd.xlsx'
df = pd.read_excel(url, sheet_name='Blé tendre')

df_rendements, df_surfaces, df_prod = get_df_all(df)
df_baseline_prod, df_baseline_rend, df_baseline_surf = baseline_prec_year(df_rendements, df_surfaces)

df_prod = df_prod.iloc[1: , :]
df_surfaces = df_surfaces.iloc[1: , :]
df_rendements = df_rendements.iloc[1: , :]

mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)

results = {'Production' : mae_prod,
           'Surfaces' : mae_surf,
           'Rendements' : mae_rend}

df_mae = pd.DataFrame.from_dict(results, orient='index')
df_mae = df_mae.rename(columns={0:'MAE'})

In [11]:
df_prod = df_prod.iloc[1: , :]
df_surfaces = df_surfaces.iloc[1: , :]
df_rendements = df_rendements.iloc[1: , :]

In [13]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, max_error

mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)

results = {'Production' : mae_prod,
           'Surfaces' : mae_surf,
           'Rendements' : mae_rend}

df_mae = pd.DataFrame.from_dict(results, orient='index')
df_mae = df_mae.rename(columns={0:'MAE'})

In [14]:
df_mae

                      MAE
Production  106811.400694
Surfaces      5435.193452
Rendements       7.963408

In [2]:
import pandas as pd

In [5]:
filepath = 'https://raw.githubusercontent.com/PierreCeraH/deepagri/5d081b5a3fb2185e861d8f37f9bbeb2d88d8bbfe/deepagri/data/Production_Y.csv'
df = pd.read_csv(filepath)
df

,Unnamed: 0,Année,1,2,3,4,5,6,7,8,...,87,88,89,90,91,92,93,94,95,Prod.(t)
0,0,2000,203500.0,1528720.0,320531.6,8750.0,12630.0,83.6,13200.0,536720.0,...,46673.0,140145.0,1121100,14935.0,319200.0,16,3612.0,3032.0,203600.0,35667737.1
1,1,2001,168048.0,1368475.4,243723.6,5728.3,11270.5,70.0,12530.7,483655.9,...,42834.0,128317.0,931200,12205.6,268294.0,16,3151.2,2415.0,172980.5,30174697.3
2,2,2002,211824.1,1478394.9,272930.2,5684.0,14084.0,260.0,15309.0,485314.7,...,57754.0,140655.0,1025240,14944.8,312641.4,16,3224.0,3272.4,212513.2,37276484.8
3,3,2003,127311.3,1290765.0,189139.5,3725.2,9415.7,195.0,7618.5,418746.8,...,44472.0,97480.5,630604,11070.0,232119.6,0,3330.0,2473.8,169170.4,28993238.3
4,4,2004,228264.0,1613744.3,303600.0,3814.2,8874.9,260.0,12579.0,529725.6,...,57657.6,152695.0,1051050,20044.2,312362.2,0,3349.5,3174.6,212083.2,37524039.8
5,5,2005,183865.2,1440523.5,259600.0,4082.0,6581.8,260.0,12311.3,471709.7,...,63469.8,134247.0,914550,17270.4,282619.5,0,3353.8,3329.2,208704.0,34748270.0
6,6,2006,227196.0,1421030.0,265200.0,4600.4,6769.5,60.0,10580.5,454740.0,...,59709.2,132695.0,851200,18526.9,250140.0,0,3440.0,3360.0,190515.0,33159950.3
7,7,2007,198803.0,1335136.0,219300.0,7207.2,7848.0,42.0,10325.0,402870.3,...,42700.2,117982.5,792000,16151.6,276548.8,0,3040.0,3078.0,188221.6,30666411.5
8,8,2008,202072.5,1569790.0,255360.0,7884.0,8744.0,65.6,12796.0,451676.0,...,65703.0,150379.0,892440,17790.0,289487.4,0,2905.0,3560.7,214463.7,36757936.5
9,9,2009,189200.0,1562314.0,290360.0,7322.0,10065.5,32.8,7908.0,463603.5,...,69216.1,171162.0,911640,18432.4,278863.4,0,3711.3,3851.2,222909.4,36069496.1
10,10,2010,239640.3,1485134.7,307450.0,6233.7,9753.9,12.0,11645.0,488843.6,...,48840.0,164745.0,852150,19268.8,253885.6,0,2924.0,3572.0,204858.5,35486640.3
11,11,2011,226900.0,1529461.8,245390.0,10119.6,9030.0,64.6,8280.0,504176.4,...,54055.0,156750.0,804760,19958.0,231739.6,0,3063.6,3329.9,190513.0,33970210.5
12,12,2012,229020.0,1482459.8,313300.0,10623.0,10910.0,40.0,10260.0,413524.3,...,58590.0,83000.0,832140,14716.5,276258.0,0,3017.6,3649.0,210863.0,35502941.4
13,13,2013,209191.0,1688157.6,312320.0,11804.6,11611.0,30.4,11168.0,497462.7,...,61200.0,157600.0,854100,15917.5,286557.5,0,3366.0,4465.4,209482.5,36870814.5
14,14,2014,215791.0,1752280.0,312925.0,11151.0,13523.5,20.0,8360.0,571584.2,...,71210.0,130860.0,786560,20088.0,292485.0,0,2614.5,4547.5,211816.0,37466078.2
15,15,2015,242910.0,1793629.5,306460.0,9727.0,15085.7,32.0,6736.0,600566.5,...,80100.0,189468.7,956300,19428.5,286184.0,0,3094.0,4191.5,229547.5,40944642.4
16,16,2016,206530.0,984250.0,283560.0,9424.7,14586.1,33.6,9625.0,361415.5,...,56745.0,112609.0,480366,14827.5,150885.0,0,1950.0,2092.5,123550.0,27560667.8
17,17,2017,239440.0,1528770.0,302295.0,7418.0,10899.0,30.0,7460.0,511525.0,...,71286.0,160580.0,830130,23480.0,243675.0,0,2747.0,3225.0,199178.0,36559140.5
18,18,2018,232233.0,1468866.0,290200.0,5801.0,7499.0,40.0,7486.0,505908.0,...,58898.0,160000.0,841160,18265.0,233850.0,0,2733.5,2925.0,177331.0,34045411.9
19,19,2019,272363.7,1701816.0,283200.0,7866.2,10403.5,48.0,7637.6,539998.0,...,76027.5,176936.0,900450,23305.0,265654.5,0,3476.0,4002.0,206404.0,39516461.6
20,20,2020,178974.0,1421480.0,237100.0,8982.0,9612.0,32.0,6699.0,501900.0,...,43520.0,164570.0,608300,22344.0,191952.0,0,2535.0,2052.0,165516.0,29177401.3
21,21,2021,258268.0,1569696.0,286258.0,15417.3,12160.0,45.6,8040.0,549050.0,...,63820.0,152768.0,831600,18300.0,243243.0,0,2739.0,3483.0,198121.0,35409386.8

In [60]:
filepath = 'https://raw.githubusercontent.com/PierreCeraH/deepagri/5d081b5a3fb2185e861d8f37f9bbeb2d88d8bbfe/deepagri/data/Production_Y.csv'
df = pd.read_csv(filepath)

df = df.drop('Prod.(t)',axis=1)
df.set_index('Année',inplace=True)
df = df.T
df = df.reset_index()

# Calculating yearly variations in production
for i in range(2001,2022):
    df[f'Var {i}-{i-1}']=round((df[i]-df[i-1])/df[i-1]*100,2)

df = df.drop([i for i in range(2000,2022)], axis=1)

year = 2019

# Creating the dataframe to plot
df = df[['index',f'Var {year}-{year-1}']]
df['index']=df['index'].astype(str)
df = df.dropna()

# Correcting the problem of '0' with integer below 10
for i in range(0,9):
    df['index'][i]= '0' + df['index'][i]

/var/folders/r9/qs0wyhwx3bd8rswjkrfqczgm0000gn/T/ipykernel_19609/1607156999.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['index'][i]= '0' + df['index'][i]

In [61]:
#Creating charts
df_graph = df.copy()
df_graph

Année        index  Var 2019-2018
0      0Unnamed: 0           5.56
1               01          17.28
2               02          15.86
3               03          -2.41
4               04          35.60
..             ...            ...
90              90          27.59
91              91          13.60
93              93          27.16
94              94          36.82
95              95          16.39

[94 rows x 2 columns]

In [62]:
df_graph = df_graph.drop(0,axis=0)
df_graph

Année index  Var 2019-2018
1        01          17.28
2        02          15.86
3        03          -2.41
4        04          35.60
5        05          38.73
..      ...            ...
90       90          27.59
91       91          13.60
93       93          27.16
94       94          36.82
95       95          16.39

[93 rows x 2 columns]

In [63]:
df_graph['index']=df_graph['index'].astype(str)

In [64]:
df_graph.dtypes

Année
index             object
Var 2019-2018    float64
dtype: object

In [65]:
df_graph = df_graph.set_index('index',inplace=True)
df_graph

In [66]:
chart_data = df_graph[f'Var {year}-{year-1}']
chart_data

TypeError: 'NoneType' object is not subscriptable