In [2]:
import pandas as pd
import numpy as np

Inputs:

This notebook takes in daily data, specifically in the form outputted by the wez_meteo_scrape.ipynb notebook
</br></br></br>
Outputs:

This notebook will output a csv of aggregated data, currently at a sept-jan + jan-march aggregation level

In [3]:
df = pd.read_csv("../raw_data/Meteo/historique_meteo_daily.csv")

# Refiltering features

In [4]:
meteo_key = pd.read_excel("../raw_data/Meteo/scraped_meteo_name_key.xlsx")
meteo_key = meteo_key[meteo_key['keep'] == 1.0]
# meteo_key = meteo_key[meteo_key['name_clean']!='id']

In [5]:
df = df[meteo_key['name_clean']]

In [6]:
meteo_key

,name_raw,keep,name_clean,agg,dtype
0,DATE,1.0,date,key,<M8[ns]
1,MAX_TEMPERATURE_C,1.0,tmax_c,count_pos_outliers,int32
2,MIN_TEMPERATURE_C,1.0,tmin_c,count_neg_outliers,int32
3,WINDSPEED_MAX_KMH,1.0,windspeed_max,mean,int32
4,PRECIP_TOTAL_DAY_MM,1.0,rain_mm,sum,float32
5,HUMIDITY_MAX_PERCENT,1.0,humidity_pct,mean,float32
6,PRESSURE_MAX_MB,1.0,pressuremax_mb,mean,int32
7,CLOUDCOVER_AVG_PERCENT,1.0,cloudcov_avg_pct,mean,float32
9,DEWPOINT_MAX_C,1.0,dewmax_c,max,int32
10,TOTAL_SNOW_MM,1.0,snow_mm,sum,float32
11,UV_INDEX,1.0,uv_idx,mean,int32
12,SUNHOUR,1.0,sunhour,mean,float32
13,id,1.0,id,key,str

# Adding region back in

In [7]:
df_region = pd.read_excel("../raw_data/Meteo/Classement_Departement.xlsx")

In [8]:
df_region = df_region.dropna(subset=['id_hist_meteo'])
df_region['code_dep'] = df_region['Departement'].str[:2].astype(int)
df_region

,Departement,Production,Part Cumul,Region,Ville,id_hist_meteo,ID OMM station,code_dep
0,80 - Somme,1682.43880,0.111671,picardie,amiens,226.0,7005.0,80
1,51 - Marne,1416.11300,0.205665,champagne-ardenne,reims,177.0,7072.0,51
2,59 - Nord,1034.29740,0.274316,nord-pas-de-calais,lille,210.0,7015.0,59
3,76 - Seine-Maritime,1011.94720,0.341483,normandie,rouen,218.0,7037.0,76
4,10 - Aube,847.57400,0.397741,champagne-ardenne,troyes,178.0,7168.0,10
5,86 - Vienne,822.28150,0.452319,poitou-charentes,poitiers,233.0,7335.0,86
6,37 - Indre-et-Loire,672.49306,0.496956,centre,tours,168.0,7240.0,37
7,35 - Ille-et-Vilaine,663.43710,0.540991,bretagne,rennes,172.0,7130.0,35
8,21 - Côte-d'Or,648.13320,0.584010,bourgogne,dijon,170.0,7280.0,21
9,22 - Côtes-d'Armor,646.42780,0.626917,bretagne,lannion,1002.0,7117.0,22
10,14 - Calvados,637.06600,0.669202,normandie,caen,216.0,7027.0,14
11,18 - Cher,630.66270,0.711062,centre,bourges,163.0,7255.0,18
12,61 - Orne,563.70340,0.748477,normandie,alençon,873.0,7139.0,61
13,17 - Charente-Maritime,536.19142,0.784067,charentes,saintes,5655.0,7314.0,17
14,56 - Morbihan,437.45800,0.813103,bretagne,vannes,173.0,7207.0,56
15,54 - Meurthe-et-Moselle,434.76660,0.841960,lorraine,nancy,200.0,7181.0,54
16,29 - Finistère,354.58160,0.865495,bretagne,concarneau,1043.0,7110.0,29
17,44 - Loire-Atlantique,350.40102,0.888753,pays-de-la-loire,nantes,221.0,7222.0,44
18,50 - Manche,286.44300,0.907765,normandie,granville,2181.0,7020.0,50
19,63 - Puy-de-Dôme,238.64230,0.923605,auvergne,clermont-ferrand,161.0,7460.0,63
20,67 - Bas-Rhin,238.32244,0.939424,grand est,Strasbourg,153.0,7190.0,67
21,31 - Haute-Garonne,235.35780,0.955045,occitanie,toulouse,205.0,7630.0,31
22,68 - Haut-Rhin,135.29836,0.964026,grand est,colmar,155.0,NaN,68
23,26 - Drôme,100.07498,0.970668,drome,valence,5977.0,NaN,26
24,12 - Aveyron,73.08640,0.975519,aveyron,rodez-aveyron,1143.0,NaN,12
25,43 - Haute-Loire,66.06200,0.979904,auvergne,puy-en-velay-haute-loire,871.0,NaN,43
26,87 - Haute-Vienne,62.71030,0.984067,limousin,Limoges,197.0,NaN,87
27,69 - Rhône,61.40462,0.988142,lyonnais,lyon,201.0,NaN,69
28,46 - Lot,43.23572,0.991012,lot,Cahors-lot,1144.0,NaN,46
29,09 - Ariège,32.76336,0.993187,midi-pyrenees,foix-ariege,1142.0,NaN,9
30,33 - Gironde,29.87918,0.995170,aquitaine,bordeaux,156.0,NaN,33
31,65 - Hautes-Pyrénées,28.59460,0.997068,midi-pyrenees,tarbes,987.0,NaN,65
32,40 - Landes,15.95484,0.998127,landes,mont-de-marsan,2668.0,NaN,40
33,05 - Hautes-Alpes,10.34380,0.998813,rh-ne-alpes,gap-hautes-alpes,1007.0,NaN,5
34,34 - Hérault,10.13720,0.999486,occitanie,Montpellier,192.0,NaN,34
35,13 - Bouches-du-Rhône,5.17734,0.999830,provence-alpes-c-te-d-azur,Marseille,182.0,NaN,13
36,83 - Var,1.51762,0.999931,provence-alpes-c-te-d-azur,Toulon,986.0,NaN,83
37,66 - Pyrénées-Orientales,0.63920,0.999973,occitanie,Perpignan,848.0,NaN,66

In [9]:
df

,date,tmax_c,tmin_c,windspeed_max,rain_mm,humidity_pct,pressuremax_mb,cloudcov_avg_pct,dewmax_c,snow_mm,uv_idx,sunhour,id
0,2009-01-01,2,-4,11,0.0,92,1029,8.250,0,0.0,2,8.5,226
1,2009-01-02,1,-6,12,0.0,81,1029,28.875,0,0.0,2,8.5,226
2,2009-01-03,0,-3,15,0.0,92,1029,35.875,0,0.0,1,8.5,226
3,2009-01-04,0,-5,13,0.4,81,1026,57.375,0,0.3,2,5.0,226
4,2009-01-05,0,-1,26,4.9,97,1022,100.000,0,4.1,1,3.2,226
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182661,2022-02-24,17,9,11,0.0,83,1025,25.125,8,0.0,3,11.0,848
182662,2022-02-25,13,9,37,0.0,69,1028,13.750,6,0.0,4,11.0,848
182663,2022-02-26,14,5,16,0.0,55,1029,0.000,3,0.0,3,11.1,848
182664,2022-02-27,13,6,10,0.0,65,1029,34.250,3,0.0,3,10.1,848
182665,2022-02-28,18,7,11,0.0,77,1028,20.500,7,0.0,3,11.1,848

In [10]:
df = (df.merge(df_region[['code_dep', 'id_hist_meteo']],
               left_on="id",
               right_on="id_hist_meteo").drop(columns=["id", "id_hist_meteo"]))

In [11]:
df

,date,tmax_c,tmin_c,windspeed_max,rain_mm,humidity_pct,pressuremax_mb,cloudcov_avg_pct,dewmax_c,snow_mm,uv_idx,sunhour,code_dep
0,2009-01-01,2,-4,11,0.0,92,1029,8.250,0,0.0,2,8.5,80
1,2009-01-02,1,-6,12,0.0,81,1029,28.875,0,0.0,2,8.5,80
2,2009-01-03,0,-3,15,0.0,92,1029,35.875,0,0.0,1,8.5,80
3,2009-01-04,0,-5,13,0.4,81,1026,57.375,0,0.3,2,5.0,80
4,2009-01-05,0,-1,26,4.9,97,1022,100.000,0,4.1,1,3.2,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182661,2022-02-24,17,9,11,0.0,83,1025,25.125,8,0.0,3,11.0,66
182662,2022-02-25,13,9,37,0.0,69,1028,13.750,6,0.0,4,11.0,66
182663,2022-02-26,14,5,16,0.0,55,1029,0.000,3,0.0,3,11.1,66
182664,2022-02-27,13,6,10,0.0,65,1029,34.250,3,0.0,3,10.1,66
182665,2022-02-28,18,7,11,0.0,77,1028,20.500,7,0.0,3,11.1,66

# Aggregating

## Custom aggregator

In [12]:
def count_pos_outliers(series, threshold=1, greater=True):
    s_mean = series.mean()
    s_std = series.std()

    if greater:
        return (series >= (s_mean + threshold * s_std)).sum()
    elif not greater:
        return (series <= (s_mean - threshold * s_std)).sum()
    else:
        raise TypeError("Argument 'greater' should be a boolean")

In [13]:
def count_neg_outliers(series, threshold=1, greater=False):
    s_mean = series.mean()
    s_std = series.std()

    if greater:
        return (series >= (s_mean + threshold * s_std)).sum()
    elif not greater:
        return (series <= (s_mean - threshold * s_std)).sum()
    else:
        raise TypeError("Argument 'greater' should be a boolean")

## Defining aggregation columns

### Splitting periods

In [14]:
df["month"] = df['date'].str[5:7].astype(int)
df

,date,tmax_c,tmin_c,windspeed_max,rain_mm,humidity_pct,pressuremax_mb,cloudcov_avg_pct,dewmax_c,snow_mm,uv_idx,sunhour,code_dep,month
0,2009-01-01,2,-4,11,0.0,92,1029,8.250,0,0.0,2,8.5,80,1
1,2009-01-02,1,-6,12,0.0,81,1029,28.875,0,0.0,2,8.5,80,1
2,2009-01-03,0,-3,15,0.0,92,1029,35.875,0,0.0,1,8.5,80,1
3,2009-01-04,0,-5,13,0.4,81,1026,57.375,0,0.3,2,5.0,80,1
4,2009-01-05,0,-1,26,4.9,97,1022,100.000,0,4.1,1,3.2,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182661,2022-02-24,17,9,11,0.0,83,1025,25.125,8,0.0,3,11.0,66,2
182662,2022-02-25,13,9,37,0.0,69,1028,13.750,6,0.0,4,11.0,66,2
182663,2022-02-26,14,5,16,0.0,55,1029,0.000,3,0.0,3,11.1,66,2
182664,2022-02-27,13,6,10,0.0,65,1029,34.250,3,0.0,3,10.1,66,2
182665,2022-02-28,18,7,11,0.0,77,1028,20.500,7,0.0,3,11.1,66,2

In [15]:
df['period'] = 0
df.loc[df['month'] < 3, 'period'] = 'jan-mar'
df.loc[df['month'] >= 9, 'period'] = 'sept_jan'

In [16]:
df = df.drop(columns='month')

In [17]:
df = df[df['period']!=0]

### Date-reg column

In [18]:
df['date_reg'] = df['date'].str[:5] + df['code_dep'].astype(str)
df = df.drop(columns=['date', 'code_dep'])

In [19]:
# df = df.set_index('tmp')
# df.index.name = None

In [20]:
df

,tmax_c,tmin_c,windspeed_max,rain_mm,humidity_pct,pressuremax_mb,cloudcov_avg_pct,dewmax_c,snow_mm,uv_idx,sunhour,period,date_reg
0,2,-4,11,0.0,92,1029,8.250,0,0.0,2,8.5,jan-mar,2009-80
1,1,-6,12,0.0,81,1029,28.875,0,0.0,2,8.5,jan-mar,2009-80
2,0,-3,15,0.0,92,1029,35.875,0,0.0,1,8.5,jan-mar,2009-80
3,0,-5,13,0.4,81,1026,57.375,0,0.3,2,5.0,jan-mar,2009-80
4,0,-1,26,4.9,97,1022,100.000,0,4.1,1,3.2,jan-mar,2009-80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182661,17,9,11,0.0,83,1025,25.125,8,0.0,3,11.0,jan-mar,2022-66
182662,13,9,37,0.0,69,1028,13.750,6,0.0,4,11.0,jan-mar,2022-66
182663,14,5,16,0.0,55,1029,0.000,3,0.0,3,11.1,jan-mar,2022-66
182664,13,6,10,0.0,65,1029,34.250,3,0.0,3,10.1,jan-mar,2022-66
182665,18,7,11,0.0,77,1028,20.500,7,0.0,3,11.1,jan-mar,2022-66

## Aggregate

In [21]:
dict_agg = pd.Series(meteo_key['agg'].values,
                     index=meteo_key['name_clean']).to_dict()
dict_agg

{'date': 'key',
 'tmax_c': 'count_pos_outliers',
 'tmin_c': 'count_neg_outliers',
 'windspeed_max': 'mean',
 'rain_mm': 'sum',
 'humidity_pct': 'mean',
 'pressuremax_mb': 'mean',
 'cloudcov_avg_pct': 'mean',
 'dewmax_c': 'max',
 'snow_mm': 'sum',
 'uv_idx': 'mean',
 'sunhour': 'mean',
 'id': 'key'}

In [22]:
dict_agg['tmax_c'] = count_pos_outliers
dict_agg['tmin_c'] = count_neg_outliers
# dict_agg['tmin_c'] = "sum"

In [23]:
del dict_agg['date']
del dict_agg['id']

In [24]:
df

,tmax_c,tmin_c,windspeed_max,rain_mm,humidity_pct,pressuremax_mb,cloudcov_avg_pct,dewmax_c,snow_mm,uv_idx,sunhour,period,date_reg
0,2,-4,11,0.0,92,1029,8.250,0,0.0,2,8.5,jan-mar,2009-80
1,1,-6,12,0.0,81,1029,28.875,0,0.0,2,8.5,jan-mar,2009-80
2,0,-3,15,0.0,92,1029,35.875,0,0.0,1,8.5,jan-mar,2009-80
3,0,-5,13,0.4,81,1026,57.375,0,0.3,2,5.0,jan-mar,2009-80
4,0,-1,26,4.9,97,1022,100.000,0,4.1,1,3.2,jan-mar,2009-80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182661,17,9,11,0.0,83,1025,25.125,8,0.0,3,11.0,jan-mar,2022-66
182662,13,9,37,0.0,69,1028,13.750,6,0.0,4,11.0,jan-mar,2022-66
182663,14,5,16,0.0,55,1029,0.000,3,0.0,3,11.1,jan-mar,2022-66
182664,13,6,10,0.0,65,1029,34.250,3,0.0,3,10.1,jan-mar,2022-66
182665,18,7,11,0.0,77,1028,20.500,7,0.0,3,11.1,jan-mar,2022-66

In [25]:
df.columns

Index(['tmax_c', 'tmin_c', 'windspeed_max', 'rain_mm', 'humidity_pct',
       'pressuremax_mb', 'cloudcov_avg_pct', 'dewmax_c', 'snow_mm', 'uv_idx',
       'sunhour', 'period', 'date_reg'],
      dtype='object')

In [26]:
df_agg = df.groupby(['period', 'date_reg']).agg(dict_agg)

In [27]:
df_agg

                   tmax_c  tmin_c  windspeed_max  rain_mm  humidity_pct  \
period   date_reg
jan-mar  2009-10       10       8      15.779661    124.5     91.016949
         2009-12        6      10      17.135593    198.2     85.915254
         2009-13       10       8      28.305085    277.6     80.728814
         2009-14       11      11      26.067797    162.3     88.220339
         2009-17        6      10      20.796610    167.1     86.203390
...                   ...     ...            ...      ...           ...
sept_jan 2021-80       23      18      17.721311     61.0     89.286885
         2021-83       25      27      22.270492     95.8     71.696721
         2021-86       20      21      18.786885     78.9     87.401639
         2021-87       18      15      10.377049    129.1     91.672131
         2021-9        19      17       9.893443    191.1     81.696721

                   pressuremax_mb  cloudcov_avg_pct  dewmax_c  snow_mm  \
period   date_reg
jan-mar  2009-10      1018.559322         49.118644        10     12.0
         2009-12      1018.237288         42.326271        10     40.5
         2009-13      1015.491525         29.192797        11      0.0
         2009-14      1016.915254         48.743644        10      4.8
         2009-17      1017.627119         41.084746        13      0.3
...                           ...               ...       ...      ...
sept_jan 2021-80      1020.131148         46.757172        18      0.0
         2021-83      1018.090164         30.049180        23      0.0
         2021-86      1020.606557         40.276639        18      0.1
         2021-87      1020.909836         47.185451        20     16.1
         2021-9       1021.336066         43.545082        18     26.3

                     uv_idx   sunhour
period   date_reg
jan-mar  2009-10   1.661017  7.201695
         2009-12   1.728814  8.000000
         2009-13   2.949153  8.538983
         2009-14   2.135593  7.510169
         2009-17   2.372881  8.237288
...                     ...       ...
sept_jan 2021-80   3.377049  7.324590
         2021-83   4.590164  8.505738
         2021-86   3.754098  7.987705
         2021-87   3.204918  7.560656
         2021-9    3.401639  7.995082

[1026 rows x 11 columns]

# Unstack period

In [29]:
df_agg = df_agg.unstack(level=0)

In [31]:
df_agg

          tmax_c           tmin_c          windspeed_max            rain_mm  \
period   jan-mar sept_jan jan-mar sept_jan       jan-mar   sept_jan jan-mar
date_reg
2009-10     10.0     25.0     8.0     22.0     15.779661  16.385246   124.5
2009-12      6.0     26.0    10.0     21.0     17.135593  16.024590   198.2
2009-13     10.0     30.0     8.0     20.0     28.305085  24.245902   277.6
2009-14     11.0     22.0    11.0     17.0     26.067797  26.467213   162.3
2009-17      6.0     25.0    10.0     19.0     20.796610  18.721311   167.1
...          ...      ...     ...      ...           ...        ...     ...
2022-80     11.0      NaN    12.0      NaN     22.593220        NaN    29.6
2022-83      9.0      NaN     7.0      NaN     24.677966        NaN     6.9
2022-86     11.0      NaN     9.0      NaN     19.152542        NaN    12.9
2022-87     11.0      NaN    14.0      NaN     10.830508        NaN    25.6
2022-9      13.0      NaN     9.0      NaN     10.508475        NaN    62.1

                  humidity_pct             ... cloudcov_avg_pct             \
period   sept_jan      jan-mar   sept_jan  ...          jan-mar   sept_jan
date_reg                                   ...
2009-10     375.2    91.016949  91.500000  ...        49.118644  48.827869
2009-12     284.2    85.915254  87.918033  ...        42.326271  38.410861
2009-13     551.4    80.728814  80.106557  ...        29.192797  23.819672
2009-14     418.0    88.220339  87.688525  ...        48.743644  48.280738
2009-17     513.1    86.203390  86.237705  ...        41.084746  38.300205
...           ...          ...        ...  ...              ...        ...
2022-80       NaN    88.406780        NaN  ...        51.489407        NaN
2022-83       NaN    66.932203        NaN  ...        19.177966        NaN
2022-86       NaN    89.338983        NaN  ...        43.584746        NaN
2022-87       NaN    91.152542        NaN  ...        49.345339        NaN
2022-9        NaN    75.779661        NaN  ...        33.506356        NaN

         dewmax_c          snow_mm             uv_idx             sunhour  \
period    jan-mar sept_jan jan-mar sept_jan   jan-mar  sept_jan   jan-mar
date_reg
2009-10      10.0     18.0    12.0     11.2  1.661017  3.237705  7.201695
2009-12      10.0     18.0    40.5     12.9  1.728814  3.303279  8.000000
2009-13      11.0     21.0     0.0      0.0  2.949153  4.540984  8.538983
2009-14      10.0     18.0     4.8      4.4  2.135593  3.360656  7.510169
2009-17      13.0     18.0     0.3      0.3  2.372881  3.885246  8.237288
...           ...      ...     ...      ...       ...       ...       ...
2022-80      11.0      NaN     2.2      NaN  2.237288       NaN  6.937288
2022-83      12.0      NaN     0.0      NaN  3.644068       NaN  8.823729
2022-86      12.0      NaN     0.0      NaN  2.423729       NaN  7.966102
2022-87      10.0      NaN     1.3      NaN  2.067797       NaN  7.542373
2022-9       10.0      NaN     2.3      NaN  2.372881       NaN  8.166102


period    sept_jan
date_reg
2009-10   7.455738
2009-12   8.406557
2009-13   9.074590
2009-14   7.989344
2009-17   8.327049
...            ...
2022-80        NaN
2022-83        NaN
2022-86        NaN
2022-87        NaN
2022-9         NaN

[532 rows x 22 columns]

Member to downshift all the sept-jan data by the number of regions

In [33]:
# df_agg.to_excel("../raw_data/Meteo/meteo_agg.xlsx")

In [37]:
df_agg.loc[:,('tmax_c',"sept_jan")]

date_reg
2009-10    25.0
2009-12    26.0
2009-13    30.0
2009-14    22.0
2009-17    25.0
           ...
2022-80     NaN
2022-83     NaN
2022-86     NaN
2022-87     NaN
2022-9      NaN
Name: (tmax_c, sept_jan), Length: 532, dtype: float64

# Mean + std_dev

In [30]:
'''''''

SyntaxError: EOL while scanning string literal (1677083807.py, line 1)

Don't touch shit under here I can't remember if there's anything useful so I'm not deleting it

In [ ]:
from functools import reduce

In [ ]:
tmp = df.copy()
tmp = tmp.iloc[:30]

In [ ]:
tmp

In [ ]:
tmp.mean()

In [ ]:
 tmp.mean() - tmp.std()

In [ ]:
(tmp>5).sum()

In [ ]:
count_outliers(tmp, 1, False)

In [ ]:
def count_outliers(series, threshold=2, greater=True):
    s_mean = series.mean()
    s_std = series.std()
    
    if greater:
        return (series>=(s_mean + threshold * s_std)).sum()
    elif not greater:
        return (series<=(s_mean - threshold * s_std)).sum()
    else:
        raise TypeError("Argument 'greater' should be a boolean")

In [ ]:
df.columns

In [ ]:

# python code to demonstrate working of reduce()
 
# importing functools for reduce()
import functools
 
# initializing list
lis = [1, 3, 5, 6, 2, ]
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))
print((lambda a, b: a+b, lis))
 
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))